<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <ul>
      <li>
        <a href="{% url 'IndexEmpresa' %}">Empresas</a>
      </li>
      <li>
        <a href="{% url 'IndexArea' %}">Areas</a>
      </li>
      <li>
        <a href="{% url 'IndexTipo' %}">Tipos</a>
      </li>
      <li>
        <a href="{% url 'IndexPatch' %}">Patchs</a>
      </li>
      <li>
        <a href="{% url 'IndexSwitch' %}">Switchs</a>
      </li>
      <li>
        <a href="{% url 'IndexPuertoSwitch' %}">Puertos Switch</a>
      </li>
      <li>
        <a href="{% url 'IndexPuertoPatch' %}">Puertos Patch</a>
      </li>
      <li>
        <a href="{% url 'IndexMaquina' %}">Maquinas</a>
      </li>
    </ul>
    {% block content %}

    {% endblock %}
  </body>
</html>
